
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Title</title>
    <meta charset="UTF-8">
</head>
<body>

<span th:text="${context}"/>
<span th:text="${zhanshi1}"/>
<span th:if="${accessOk}">
2222
</span>

<!--<div sec:authentication = "name" >-->
<!--此处将显示身份验证对象的“name”属性的值。-->
<!--</div >-->

<!--<sec:authorize access="@roleService.hasPermission()">
    ADMIN
</sec:authorize>-->

<!--<sec:authorize access="hasAuthority('ADMIN')">-->
<!--ADMIN2-->
<!--</sec:authorize>-->

<div sec:authorize="hasAuthority('ROOT')">
    ROOT
</div>

</body>
</html>