<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="web.dao.UsrUserMapper">
  <resultMap id="BaseResultMap" type="web.model.UsrUser">
    <id column="user_code" jdbcType="VARCHAR" property="userCode" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="money-test" jdbcType="DECIMAL" property="moneyTest" />
  </resultMap>
  <sql id="Base_Column_List">
    user_code, user_name, password, money-test
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from usr_user
    where user_code = #{userCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from usr_user
    where user_code = #{userCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="web.model.UsrUser">
    insert into usr_user (user_code, user_name, password, 
      money-test)
    values (#{userCode,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{moneyTest,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="web.model.UsrUser">
    insert into usr_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userCode != null">
        user_code,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="moneyTest != null">
        money-test,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userCode != null">
        #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="moneyTest != null">
        #{moneyTest,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="web.model.UsrUser">
    update usr_user
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="moneyTest != null">
        money-test = #{moneyTest,jdbcType=DECIMAL},
      </if>
    </set>
    where user_code = #{userCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="web.model.UsrUser">
    update usr_user
    set user_name = #{userName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      money-test = #{moneyTest,jdbcType=DECIMAL}
    where user_code = #{userCode,jdbcType=VARCHAR}
  </update>
</mapper>